[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
twine = "*"
pytest = "*"
isort = "*"
responses = "*"
mypy = "*"

[packages]
lazy-myles = {path = "."}

[scripts]
tests = "pytest"

[requires]
python_version = "3.7"
